*{
    padding: 0;
    margin: 0;
}
title{
    color: rgb(24, 80, 97);
}

header.header{
    width: 99.8%;
    height: 700px;
    /*  */
    
}
header.header div.container-fluit{
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(9, 94, 109);
    /* height:100px; */
}
header.header div.bottom{
    width: 99.5%;
    height: 40px;
    /*  */
    margin: 1% 2px;
    /* background: rgb(196, 177, 177); */
}
form{
    /*  */
    width: 25%;
    margin-left: 15%;
    padding-top: 5px;
}
header.header div.container-fluit ul li a{
    color: white;
}
header.header div.container-fluit ul li a:hover{
    border-bottom: 3px solid rgb(250, 246, 246) ;
    background: rgb(13, 102, 129);
}
form input:nth-of-type(1)::placeholder{
    color: darkcyan;
}
div.carosel{
    width:99.5%;
    height: 450px;
    /*  */
    margin: 2% 3px;
}
div.carosel div{
    width: 100%;
    height: 450px;
}
main.main{
    width: 99.5%;
    height: 700px;
    /*  */
    margin-left: 4px;
    background: rgb(233, 224, 224);
}
main.main aside.aside{
    width: 70%;
    height: 350px;
    /*  */
    margin: 5% 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(252, 251, 245);
}
main.main aside.aside div.block{
    width: 29%;
    height:320px ;
    /*  */
    margin-top: 2%;
}
main.main aside.aside div.block{
    background-image: url("9.jpg");
    background-repeat: no-repeat;
    background-size: 100% 55%;
    border-bottom: 10px solid grey;
    
}
main.main aside.aside div.block p{
    font-weight: bold;
    color: rgb(11, 100, 48);
    margin-top:65%;
}
main.main aside.aside div.block:hover{
    border-bottom:10px solid rgb(33, 106, 148); 


    }
    main.main aside.aside div.block:nth-of-type(1):hover{
        border-bottom:10px solid rgb(33, 106, 148); 
        
        }
        header.header div.bottom ul li{
            /* border-right: 1px solid grey; */
            /*  */
            font-family: Arial;

        }
        header.header div.bottom ul li:hover{
            border-bottom: 5px solid rgb(13, 99, 114);
        }
        header.header div.bottom ul li:nth-of-type(1),
        header.header div.bottom ul li:nth-of-type(2)
        {
            border-right-width: 0px;
        }
        header.header div.bottom ul li:nth-of-type(2) a{
            color: rgb(24, 80, 97);
        }
    @media screen and (max-width:1268px){
        main.main aside.aside div.block p{
            font-size: 14px;
            margin-top: 70%;
        }
    }
    @media screen and (max-width:1136px){
        main.main aside.aside div.block p{
            font-size: 14px;
            margin-top: 85%;
        }
    }
        @media screen and (max-width:940px){
            main.main aside.aside div.block p{
                font-size: 12px;
                margin-top: 95%;
            }
            section.section h1{
                font-weight: bold;
                margin-top:2%;
                color: rgb(27, 78, 66);
                margin-top: -80%;
            }

        }
        @media screen and (max-width:1037px)
        {
         input:nth-of-type(1){
            margin-left: -30%;
            }
            section.section h1{
                font-weight: bold;
                margin-top:2%;
                color: rgb(27, 78, 66);
                margin-top: -80%;
            }
        }
        @media screen and (max-width:505px){
            section.section{
                /*  */
                width: 99%;
                margin-top: -30%;
            }
            section.section h1{
                font-weight: bold;
                margin-top:2%;
                color: rgb(27, 78, 66);
                margin-top: -80%;
                position: relative;
                bottom: 30%;
            }
            input:nth-of-type(1){
                width: 120px;
            }
            main.main aside.aside div.block p{
                margin-top: 90%;
            }
        }
            @media screen and (max-width:445px){
                main.main aside.aside div.block p{
                   transform: translateY(30px);
                } 
                main.main aside.aside div.block{
                    /*  */
                }
                section.section{
                    /*  */
                    width: 99%;
                   transform: translateY(-100px);
                }
            }
        
        @media screen and (max-width:605px){
          div:nth-of-type(3){
              margin-top: 30%;
          }
          div.carosel div{
            width: 100%;
            height: 250px;
        }
          div.bottom ul li{
            border-right: 0px solid grey;
          }
          main.main aside.aside div.block p{
            margin-top: 95%;
        }
        main.main aside.aside {
            
        }
        section.section{
            
            width: 99%;
            margin-top: -18%;
        }
        section.section h1{
            font-weight: bold;
            margin-top:2%;
            color: rgb(27, 78, 66);
            margin-top: -120%;
        }
        }
        @media screen and (max-width:700px){
            main.main aside.aside div.block p{
                
               position: relative;
               top: 20%;
            }   
            section.section h1{
                font-weight: bold;
                margin-top:2%;
                color: rgb(27, 78, 66);
                margin-top: -80%;
            }
        }
        @media screen and (max-width:905px){
            main.main aside.aside{
                margin-top: -5%;
                width: 99%;
                height: 1100px;
                margin-left: -10%;
                flex-direction: column;
            }
            section.section{
                
                width: 99%;
            }
            section.section h1{
                font-weight: bold;
                margin-top:2%;
                color: rgb(27, 78, 66);
                margin-top: -80%;
            }

            div.bottom ul li a{
                font-size: 12px;
            }
            div.bottom ul li{
                border-left: none;
            }
            input:nth-of-type(1){
                margin-left: -50%;
                }
                header.header div.container-fluit li a{
                    font-size: 15px;
                }
            main.main{
                background-color: rgb(240, 234, 234);
                height: 1100px;
            }
            main.main aside.aside div.block{
                width: 40%;

                margin-left: 40%;
            }
            main.main aside.aside div.block p{
                margin-top: 60%;
            }
        }
        section.section{
            
            width: 99;
        }
        section.section h1{
            font-weight: bold;
            margin-top:2%;
            color: rgb(27, 78, 66);
        }

